[package]
name = "light-registry"
version = "0.4.1"
description = "Light core protocol logic"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_registry"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap", "mem-profiling"]
test-sbf = []
bench-sbf = []

[dependencies]
aligned-sized = { version = "0.2.1", path = "../../macros/aligned-sized" }
light-macros= { version = "0.4.1", path = "../../macros/light" }
anchor-lang = "0.29.0"
bytemuck = "1.14"
light-hasher = { version = "0.2.1", path = "../../merkle-tree/hasher" }
light-heap = { version = "0.2.1", path = "../../heap", optional = true }
account-compression = { version = "0.4.1", path = "../account-compression", features = ["cpi"]  }

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }
log = "0.4"

[dev-dependencies]
solana-program-test = { workspace = true }
solana-sdk = { workspace = true }
tokio = "1.36.0"
light-macros= { version = "0.4.1", path = "../../macros/light" }
