[package]
name = "light-registry"
version = "0.6.0"
description = "Light core protocol logic"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_registry"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap", "mem-profiling"]
test-sbf = []
bench-sbf = []
sdk = []

[dependencies]
aligned-sized = { version = "0.4.0", path = "../../macros/aligned-sized" }
light-macros= { version = "0.6.0", path = "../../macros/light" }
anchor-lang = { workspace = true , features = ["init-if-needed"]}
anchor-spl = { workspace = true }
bytemuck = "1.17"
light-hasher = { version = "0.4.0", path = "../../merkle-tree/hasher" }
light-heap = { version = "0.4.0", path = "../../heap", optional = true }
account-compression = { version = "0.6.1", path = "../account-compression", features = ["cpi"]  }
light-system-program = { version = "0.6.0", path = "../system", features = ["cpi"]  }
light-utils = { version = "0.4.0", path = "../../utils" }
num-bigint = "0.4.5"
num-traits = "0.2.19"
solana-security-txt = "1.1.0"
[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }

[dev-dependencies]
solana-program-test = { workspace = true }
tokio = { workspace = true }
light-macros= { version = "0.6.0", path = "../../macros/light" }
