[package]
name = "rock_paper_scissors"
version = "0.1.0"
description = "Created with Light Protocol"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "rock_paper_scissors"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []

[dependencies]
anchor-lang = "0.29.0"
anchor-spl = "0.29.0"
light-merkle-tree-program = { path = "../../../../programs/merkle-tree", features = ["cpi"] }
light-psp4in4out-app-storage = { path = "../../../../programs/psp4in4out-app-storage", features = ["cpi"] }
light-macros = { path = "../../../../macros/light" }
light-verifier-sdk = { path = "../../../../verifier-sdk" }
solana-program = "1.17.14"
groth16-solana = { git = "https://github.com/Lightprotocol/groth16-solana", branch = "anchor-0.29" }

bytemuck = { version = "1.4.0", features = ["derive", "min_const_generics"]}
memoffset = "0.9.0"

# TODO: Remove once https://github.com/solana-labs/solana/issues/33504 is resolved.
ahash = "=0.8.6"
