NEXT_PUBLIC_SOLANA_RPC_URL="https://devnet.helius-rpc.com/?api-key=4664bd6e-2291-4d0b-9514-f7d7ed6accac"
NEXT_PUBLIC_LIGHT_RPC_URL="https://v3-devnet-relayer-7x44q.ondigitalocean.app"
NEXT_PUBLIC_LOOK_UP_TABLE="GF2TtYjrWsH9g12kHmm5KiDqt4MFqpzf7zoQoJGfVgfW"
REACT_EDITOR="cursor"
NEXT_PUBLIC_REACT_EDITOR="cursor"
