NEXT_PUBLIC_RPC="http://localhost:8899"
NEXT_PUBLIC_RELAYER_URL="http://127.0.0.1:3332"
NEXT_PUBLIC_LOOK_UP_TABLE="EUwVvyTZrBVyB1LUQf6b6WWcdXgcgYz5E5mcWUtkW2vX"
REACT_EDITOR="cursor"
NEXT_PUBLIC_REACT_EDITOR="cursor"
NEXT_PUBLIC_LIGHT_PROTOCOL_ATOMIC_TRANSACTIONS="true"