[workspace]
resolver = "2"
members = [
    "hasher.rs/src/wasm",
    "heap",
    "circuit-lib/light-prover-client",
    "circuit-lib/verifier",
    "macros/aligned-sized",
    "macros/light",
    "macros/light-sdk-macros",
    "merkle-tree/*",
    "programs/account-compression",
    "programs/system",
    "programs/compressed-token",
    "programs/registry",
    "client",
    "sdk",
    "test-utils",
    "utils",
    "xtask",
    "examples/name-service/programs/*",
    "examples/token-escrow/programs/*",
    "test-programs/account-compression-test/",
    "test-programs/compressed-token-test/",
    "test-programs/e2e-test/",
    "test-programs/registry-test/",
    "test-programs/system-cpi-test/",
    "test-programs/system-test/",
    "test-programs/sdk-test-program/programs/sdk-test/",
    "forester-utils",
    "forester",
    "photon-api",
]

[profile.release]
overflow-checks = true

[profile.test]
opt-level = 2

[workspace.dependencies]
# Solana
solana-banks-client = "=1.18.22"
solana-banks-interface = "=1.18.22"
solana-program = "=1.18.22"
solana-sdk = "=1.18.22"
solana-program-test = "=1.18.22"
solana-client = "=1.18.22"
solana-cli-output = "=1.18.22"
solana-transaction-status = "=1.18.22"
solana-account-decoder = "=1.18.22"
solana-rpc = "=1.18.22"
spl-token = "=4.0.0"
spl-token-2022 = {version="3.0.0", no-default-features = true, features = ["no-entrypoint"]}

# Anchor
anchor-lang = "=0.29.0"
anchor-spl = "=0.29.0"

# Anchor compatibility
borsh = "0.10.0"

# Macro helpers
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["visit-mut", "full"] }

# Async ecosystem
tokio = { version = "1.39.1", features = ["rt", "macros", "rt-multi-thread"] }
async-trait = "0.1.82"
bb8 = "0.8.5"

# Logging
log = "0.4"

# Error handling
thiserror = "1.0"

# Light Protocol
light-client = { path = "client", version = "0.9.1" }
light-concurrent-merkle-tree = { path = "merkle-tree/concurrent", version = "1.1.0" }
light-hasher = { path = "merkle-tree/hasher", version = "1.1.0" }
light-indexed-merkle-tree = { path = "merkle-tree/indexed", version = "1.1.0" }
light-macros = { path = "macros/light", version = "1.1.0" }
light-merkle-tree-reference = { path = "merkle-tree/reference", version = "1.1.0" }
light-prover-client = { path = "circuit-lib/light-prover-client", version = "1.2.0" }
light-sdk = { path = "sdk", version = "0.11.0" }
light-sdk-macros = { path = "macros/light-sdk-macros", version = "0.4.0" }
light-utils = { path = "utils", version = "1.1.0" }
light-verifier = { path = "circuit-lib/verifier", version = "1.1.0" }
photon-api = { path = "photon-api", version = "0.45.0" }
forester-utils = { path = "forester-utils", version = "1.2.0" }
light-hash-set = { path = "merkle-tree/hash-set", version = "1.2.0" }
account-compression = { path = "programs/account-compression", version = "1.2.0", features = ["cpi"] }
light-compressed-token = { path = "programs/compressed-token", version = "1.2.0", features = ["cpi"] }
light-system-program = { path = "programs/system", version = "1.2.0", features = ["cpi"] }
light-registry = { path = "programs/registry", version = "1.2.0",  features = ["cpi"]}

# Math and crypto
num-bigint = "0.4.6"
num-traits = "0.2.19"

# HTTP client
reqwest = "0.11.26"

[patch.crates-io]
"solana-account-decoder" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-accounts-db" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-banks-client" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-banks-interface" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-banks-server" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-program" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-cli-output" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-program-test" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-program-runtime" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-rpc" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-rpc-client" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-rpc-client-api" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-runtime" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-sdk" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-sdk-macro" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-client" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-zk-token-sdk" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-frozen-abi" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-frozen-abi-macro" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
"solana-transaction-status" = { git = "https://github.com/lightprotocol/agave", branch = "v1.18.22-enforce-cpi-tracking" }
