[package]
name = "light-compressible"
version = "0.6.0"
edition = "2021"
description = "Light Protocol compressible data structures"
readme = "README.md"
license = "MIT"

[features]
default = ["solana"]
solana = ["dep:solana-program-error", "light-compressed-account/solana", "light-account-checks/solana", "solana-sysvar", "solana-msg"]
anchor = ["anchor-lang", "light-compressed-account/anchor", "light-compressed-account/std", "light-account-checks/solana"]
idl-build = ["anchor-lang/idl-build", "anchor", "light-compressed-account/idl-build"]
pinocchio = ["dep:pinocchio", "light-compressed-account/pinocchio", "light-account-checks/pinocchio"]
profile-program = []
profile-heap = ["dep:light-heap"]

[dependencies]
thiserror = { workspace = true }
zerocopy = { workspace = true, features = ["derive"] }
light-hasher = { workspace = true }
light-zero-copy = { workspace = true, features = ["std", "mut", "derive"] }
light-macros = { workspace = true }
pinocchio = { workspace = true, optional = true }
solana-program-error = { workspace = true, optional = true }
solana-msg = { workspace = true, optional = true }
# Feature-gated dependencies
anchor-lang = { workspace = true, optional = true }
bytemuck = { workspace = true, features = ["derive"] }
borsh = { workspace = true }
solana-pubkey = { workspace = true, features = ["std", "sha2", "curve25519", "borsh", "bytemuck"] }
pinocchio-pubkey = { workspace = true }
light-program-profiler = { workspace = true }
light-heap = { workspace = true, optional = true }
light-account-checks = { workspace= true }
light-compressed-account = { workspace= true }
aligned-sized = { workspace= true }
solana-sysvar = {workspace = true, optional = true}
solana-rent = { workspace = true }

[dev-dependencies]
rand = { workspace = true }

[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(feature, values("frozen-abi", "no-entrypoint"))',
]
