[package]
name = "account-compression-test"
version = "1.1.0"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "account_compression_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]

[dev-dependencies]
ark-bn254 = "0.4.0"
ark-ff = "0.4.0"
solana-program-test =  { workspace = true}
light-test-utils = { version = "1.2.0", path = "../../test-utils", features=["devenv"] }
reqwest = "0.11.26"
tokio = { workspace = true }
light-prover-client = {path = "../../circuit-lib/light-prover-client" }
num-bigint = "0.4.6"
num-traits = "0.2.19"
spl-token = { workspace = true }
anchor-spl = { workspace = true }
anchor-lang = { workspace = true }
light-compressed-token = { workspace = true }
light-system-program = { workspace = true }
account-compression = { workspace = true }
light-hasher = {path = "../../merkle-tree/hasher"}
light-hash-set = { workspace = true}
light-concurrent-merkle-tree = {path = "../../merkle-tree/concurrent"}
light-indexed-merkle-tree = {path = "../../merkle-tree/indexed"}
light-merkle-tree-reference = {path = "../../merkle-tree/reference"}
light-bounded-vec = {path = "../../merkle-tree/bounded-vec"}
light-utils = {path = "../../utils"}
light-verifier = {path = "../../circuit-lib/verifier"}
rand = "0.8"
solana-cli-output = { workspace = true }
serde_json = "1.0.132"
solana-sdk = { workspace = true }
thiserror = "1.0"
memoffset = "0.9.1"
