[package]
name = "forester-utils"
version = "1.2.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/lightprotocol/light-protocol"
description = "Utility library for Light's Forester node implementation"

[dependencies]
# Light Protocol
account-compression = { workspace = true }
light-compressed-token = { workspace = true }
light-hash-set = { workspace=true }
light-hasher = { workspace = true }
light-merkle-tree-reference = { workspace = true }
light-concurrent-merkle-tree = { workspace = true }
light-indexed-merkle-tree = { workspace = true }
light-prover-client = { workspace = true }
light-registry = { workspace = true }
light-system-program = { workspace = true, features = ["cpi"] }
light-utils = { workspace = true }
light-batched-merkle-tree = { workspace = true }
light-verifier = { workspace = true }
light-sdk = { workspace = true }
photon-api = { workspace = true }
light-client = { workspace = true }

# Anchor
anchor-lang = { workspace = true }
anchor-spl = { workspace = true }

# Solana
spl-token = { workspace = true, features = ["no-entrypoint"] }
solana-program = { workspace = true }
solana-program-test = { workspace = true }
solana-sdk = { workspace = true }
solana-client = { workspace = true }
solana-transaction-status = { workspace = true }

# Async ecosystem
tokio = { workspace = true }
async-trait = { workspace = true }

# Error handling
thiserror = "1.0"

# Logging
log = "0.4"

# Big numbers
num-bigint = { workspace = true }
num-traits = { workspace = true }

# HTTP client
reqwest = "0.11.26"
bb8 = { workspace = true }

# Metrics
prometheus = "0.13"
warp = "0.3"
lazy_static = "1.4"
anyhow = "1.0.94"
borsh = "0.10.3"
tracing = "0.1.40"