[package]
name = "forester-utils"
version = "1.2.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/lightprotocol/light-protocol"
description = "Utility library for Light's Forester node implementation"

[dependencies]

# Light Protocol
account-compression = { workspace = true }
light-hash-set = { workspace = true }
light-hasher = { workspace = true }
light-concurrent-merkle-tree = { workspace = true }
light-indexed-merkle-tree = { workspace = true }
light-prover-client = { workspace = true }
light-registry = { workspace = true }
light-system-program = { workspace = true, features = ["cpi"] }
light-compressed-account = { workspace = true }
light-batched-merkle-tree = { workspace = true }
light-merkle-tree-metadata = { workspace = true }
light-client = { workspace = true }
light-account-checks = { workspace = true }

tokio = { workspace = true }
futures = { workspace = true }

# Anchor
anchor-lang = { workspace = true }

# Solana
solana-sdk = { workspace = true }

# Error handling
thiserror = { workspace = true }

# Logging
log = { workspace = true }

# Big numbers
num-traits = { workspace = true }

# HTTP client
reqwest = { workspace = true }
