[package]
name = "light-batched-merkle-tree"
version = "0.1.0"
description = "Batch Merkle tree implementation."
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
default = []
anchor = ["anchor-lang", "solana"]
solana = []

[dependencies]
aligned-sized = { workspace=true}
solana-program = { workspace = true }
bytemuck = { version = "1.17" }
light-bounded-vec = { workspace=true, features = ["solana"] }
light-hasher = { workspace=true, features = ["solana"] }
light-utils = { workspace=true }
light-bloom-filter = { workspace=true, features = ["solana"] }
light-verifier = { workspace=true, features = ["solana"] }
thiserror = "1.0"
light-merkle-tree-metadata = { workspace = true }
borsh = "0.10"
light-macros = {workspace = true}
anchor-lang = { workspace = true , optional = true }

[dev-dependencies]
rand = "0.8.5"
light-prover-client = { version = "1.2.0", path = "../../circuit-lib/light-prover-client", features = ["gnark"] }
light-merkle-tree-reference = { version = "1.1.0", path = "../../merkle-tree/reference" }
tokio = {workspace = true}
serial_test = {workspace = true}

[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(feature, values("frozen-abi", "no-entrypoint"))',
]