[package]
name = "light-hash-set"
version = "0.1.0"
description = "Hash set which can be stored on a Solana account"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
solana = ["solana-program"]

[dependencies]
light-bounded-vec = { path = "../bounded-vec", version = "0.1.0" }
light-utils = { path = "../../utils", version = "0.1.0" }
memoffset = "0.9"
num-bigint = "0.4"
num-traits = "0.2"
solana-program = { version = "1.18.11", optional = true }
thiserror = "1.0"

[dev-dependencies]
ark-bn254 = "0.4"
ark-ff = "0.4"
rand = "0.8"
