[package]
name = "light-merkle-tree-metadata"
version = "0.1.0"
description = "Merkle tree utils."
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
# default = ["solana"]
anchor = ["anchor-lang", "light-compressed-account/anchor"]
solana = ["solana-program", "borsh", "light-compressed-account/solana"]
pinocchio = ["dep:pinocchio", "borsh", "light-compressed-account/pinocchio"]

[dependencies]
thiserror = { workspace = true }
bytemuck = { workspace = true }
zerocopy = { workspace = true, features = ["derive"] }
light-compressed-account = { workspace = true, features = ["bytemuck-des"] }
solana-program = { workspace = true, optional = true }
anchor-lang = { workspace = true, optional = true }
pinocchio = { workspace = true, optional = true }
borsh = { workspace = true, optional = true }

[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = ['cfg(target_os, values("solana"))']
