[package]
name = "registry-test"
version = "1.1.0"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "registry_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]

[dev-dependencies]
light-test-utils = { workspace = true, features=["devenv"] }
light-program-test = { workspace = true, features = ["devenv"] }
tokio = { workspace = true }
light-prover-client = {workspace = true, features = ["devenv"] }
light-client = { workspace = true }
anchor-lang = { workspace = true }
forester-utils = {  workspace = true }
light-registry = { workspace = true }
account-compression = { workspace = true  }
light-hasher = {workspace = true}
light-utils = {workspace = true}
solana-sdk = { workspace = true }
serial_test = { workspace = true }
light-batched-merkle-tree = { workspace = true }
