[package]
name = "registry-test"
version = "1.1.0"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "registry_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]


[dev-dependencies]
light-test-utils = { workspace = true, features=["devenv"] }
light-program-test = { workspace = true, features = ["devenv"] }
tokio = { workspace = true }
light-prover-client = {workspace = true, features = ["devenv"] }
light-sdk = { workspace = true }
light-client = { workspace = true }
num-bigint = "0.4.6"
num-traits = "0.2.19"
spl-token = { workspace = true }
anchor-spl = { workspace = true }
anchor-lang = { workspace = true }
forester-utils = {  workspace = true }
light-registry = { workspace = true }
light-compressed-token = { workspace = true }
light-system-program = { workspace = true }
account-compression = { workspace = true  }
light-hasher = {workspace = true}
light-concurrent-merkle-tree = {workspace = true}
light-indexed-merkle-tree = {workspace = true}
light-utils = {workspace = true}
light-verifier = {workspace = true}
solana-cli-output = { workspace = true }
serde_json = "1.0.133"
solana-sdk = { workspace = true }
serial_test = { workspace = true }
light-batched-merkle-tree = { workspace = true }
