[package]
name = "registry-test"
version = "1.1.0"
description = "Created with Anchor"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "lib"]
name = "registry_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]

[dev-dependencies]
light-test-utils = { workspace = true, features = ["devenv"] }
light-program-test = { workspace = true, features = ["devenv"] }
tokio = { workspace = true }
light-prover-client = { workspace = true, features = ["devenv"] }
light-client = { workspace = true, features = ["devenv"] }
anchor-lang = { workspace = true }
anchor-spl = { workspace = true }
forester-utils = { workspace = true }
light-registry = { workspace = true }
account-compression = { workspace = true }
light-hasher = { workspace = true, features = ["poseidon"] }
light-compressed-account = { workspace = true, features = ["std"] }
solana-sdk = { workspace = true }
serial_test = { workspace = true }
light-batched-merkle-tree = { workspace = true }
light-account-checks = { workspace = true }
light-ctoken-sdk = { workspace = true }
light-compressible = { workspace = true }
light-token-client = { workspace = true }
light-token-interface = { workspace = true }
light-zero-copy = { workspace = true }
borsh = { workspace = true }
