[package]
name = "token-escrow"
version = "0.3.0"
description = "Solana escrow implementation using account compression"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "token_escrow"

[features]
no-entrypoint = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = []
default = ["custom-heap", "idl-build"]
test-sbf = []
idl-build = ["anchor-lang/idl-build", "anchor-spl/idl-build"]

[dependencies]
anchor-lang = { workspace = true, features = ["init-if-needed"] }
light-compressed-token = { path = "../../../../programs/compressed-token", version = "0.5.0", features = ["cpi"]}
light-system-program = { path = "../../../../programs/system", version = "0.5.0", features = ["cpi"]}
account-compression = { path = "../../../../programs/account-compression", version = "0.5.0",  features = ["cpi"] }
light-hasher = { path = "../../../../merkle-tree/hasher", version = "0.3.0" }
light-verifier = { path = "../../../../circuit-lib/verifier", version = "0.3.0" }
light-sdk = { path = "../../../../sdk", version = "0.3.0", features = ["cpi"] }

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }

[dev-dependencies]
solana-program-test = { workspace = true }
light-test-utils = { version = "0.3.0", path = "../../../../test-utils" }
reqwest = "0.12"
tokio = { workspace = true }
light-prover-client = { path = "../../../../circuit-lib/light-prover-client", version = "0.3.0" }
num-bigint = "0.4.6"
num-traits = "0.2.19"
spl-token = { workspace = true }
anchor-spl = { workspace = true }
