[package]
name = "compressed-token-test"
version = "1.1.0"
description = "Created with Anchor"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "lib"]
name = "compressed_token_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
default = []

[dependencies]
anchor-lang = { workspace = true }
light-sdk = { workspace = true, features = ["anchor"] }

[dev-dependencies]
light-compressed-token = { workspace = true }
light-system-program-anchor = { workspace = true }
account-compression = { workspace = true }
light-compressed-account = { workspace = true, features = ["std"] }
light-batched-merkle-tree = { workspace = true }
light-registry = { workspace = true }
solana-sdk = { workspace = true }
solana-system-interface = { workspace = true, features = ["bincode"] }

forester-utils = { workspace = true }
light-client = { workspace = true, features = ["devenv"] }
light-sdk = { workspace = true, features = ["anchor"] }
light-verifier = { workspace = true }
light-test-utils = { workspace = true, features = ["devenv"] }
light-program-test = { workspace = true, features = ["devenv"] }
tokio = { workspace = true }
light-prover-client = { workspace = true, features = ["devenv"] }
spl-token = { workspace = true }
anchor-spl = { workspace = true }
rand = { workspace = true }
serial_test = { workspace = true }
light-ctoken-types = { workspace = true }
light-token-client = { workspace = true }
light-compressible = { workspace = true }
light-compressed-token-sdk = { workspace = true }
spl-token-2022 = { workspace = true }
spl-pod = { workspace = true }
light-zero-copy = { workspace = true , features = ["std", "derive", "mut"]}
