[package]
name = "light-sdk-pinocchio"
version = "0.16.0"
description = "Rust SDK for ZK Compression on Solana with Pinocchio features"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
default = ["alloc"]
alloc = ["light-compressed-account/alloc"]
std = ["alloc"]
v2 = ["light-sdk-types/v2"]
poseidon = ["light-hasher/poseidon", "light-sdk-types/poseidon", "light-compressed-account/poseidon"]
light-account = ["light-sdk"]

[dependencies]
pinocchio = { workspace = true }
light-hasher = { workspace = true, default-features = false }
light-account-checks = { workspace = true, default-features = false, features = ["pinocchio"] }
light-macros = { workspace = true }
light-sdk-macros = { workspace = true }
light-sdk-types = { workspace = true, default-features = false, features = ["alloc"] }
borsh = { workspace = true }
thiserror = { workspace = true }
light-compressed-account = { workspace = true }
light-sdk = { workspace = true, optional = true }
