[package]
name = "light-concurrent-merkle-tree"
version = "1.1.0"
edition = "2021"
description = "Concurrent Merkle tree implementation"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"

[features]
heavy-tests = []
solana = [
  "light-bounded-vec/solana",
  "light-hasher/solana",
  "solana-program"
]

[dependencies]
borsh = "0.10"
bytemuck = { version = "1.17", features = ["derive"] }
light-bounded-vec = { workspace = true }
light-hasher = { workspace = true }
light-utils = { workspace = true }
memoffset = "0.9"
solana-program = { workspace = true, optional = true }
thiserror = "1.0"

[dev-dependencies]
ark-bn254 = "0.4"
ark-ff = "0.4"
light-merkle-tree-reference = { workspace = true}
light-hash-set = { workspace = true, features = ["solana"] }
rand = "0.8"
solana-program = {  workspace = true }
spl-account-compression = { version = "0.3.0", default-features = false}
spl-concurrent-merkle-tree = { version = "0.2.0", default-features = false}
tokio = { workspace = true }
num-bigint = "0.4"
num-traits = "0.2"
