[package]
name = "light-concurrent-merkle-tree"
version = "4.0.1"
edition = "2021"
description = "Concurrent Merkle tree implementation"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"

[features]
heavy-tests = []
solana = ["solana-program-error", "light-hasher/solana", "light-bounded-vec/solana"]
pinocchio = ["dep:pinocchio", "light-hasher/pinocchio"]

[dependencies]
borsh = { workspace = true }
light-bounded-vec = { workspace = true }
light-hasher = { workspace = true, features = ["poseidon"]}
memoffset = "0.9"
solana-program-error = { workspace = true, optional = true }
pinocchio = { workspace = true, optional = true }
thiserror = { workspace = true }

[dev-dependencies]
ark-bn254 = { workspace = true }
ark-ff = { workspace = true }
light-merkle-tree-reference = { workspace = true }
light-hash-set = { workspace = true }
light-hasher = { workspace = true, features = ["keccak", "sha256", "poseidon"] }
rand = { workspace = true }
# spl-concurrent-merkle-tree = { version = "0.2.0", default-features = false }
tokio = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
