[package]
name = "light-concurrent-merkle-tree"
version = "1.1.0"
edition = "2021"
description = "Concurrent Merkle tree implementation"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"

[features]
heavy-tests = []
solana = ["solana-program", "light-bounded-vec/solana", "light-hasher/solana"]
pinocchio = [
    "dep:pinocchio",
    "light-bounded-vec/solana",
    "light-hasher/pinocchio",
]

[dependencies]
borsh = { workspace = true }
light-bounded-vec = { workspace = true }
light-hasher = { workspace = true }
light-utils = { workspace = true }
memoffset = "0.9"
solana-program = { workspace = true, optional = true }
pinocchio = { workspace = true, optional = true }
thiserror = { workspace = true }

[dev-dependencies]
ark-bn254 = { workspace = true }
ark-ff = { workspace = true }
light-merkle-tree-reference = { workspace = true }
light-hash-set = { workspace = true }
rand = { workspace = true }
solana-program = { workspace = true }
spl-concurrent-merkle-tree = { version = "0.2.0", default-features = false }
tokio = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
