[package]
name = "account-compression-test"
version = "1.1.0"
description = "Created with Anchor"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "lib"]
name = "account_compression_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]

[dev-dependencies]
ark-bn254 = { workspace = true }
ark-ff = { workspace = true }
light-test-utils = { workspace = true, features = ["devenv"] }
light-program-test = { workspace = true, features = ["devenv"] }
light-client = { workspace = true, features = ["devenv", "program-test"] }
tokio = { workspace = true }
light-prover-client = { workspace = true, features = ["devenv"] }
num-bigint = { workspace = true }
anchor-spl = { workspace = true }
anchor-lang = { workspace = true }
account-compression = { workspace = true }
light-hasher = { workspace = true, features = ["poseidon"] }
light-hash-set = { workspace = true }
light-concurrent-merkle-tree = { workspace = true }
light-indexed-merkle-tree = { workspace = true }
light-merkle-tree-reference = { workspace = true }
light-bounded-vec = { workspace = true }
light-compressed-account = { workspace = true, features = ["std"] }
light-verifier = { workspace = true }
rand = { workspace = true }
solana-sdk = { workspace = true }
serial_test = { workspace = true }
light-bloom-filter = { workspace = true }
light-batched-merkle-tree = { workspace = true }
light-merkle-tree-metadata = { workspace = true }
light-account-checks = { workspace = true }
litesvm = { workspace = true }
