[package]
name = "light-hasher"
version = "1.1.0"
description = "Trait for generic usage of hash functions on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
solana = ["solana-program"]
anchor = ["anchor-lang"]
pinocchio = ["dep:pinocchio"]


[dependencies]
light-poseidon = { workspace = true }
thiserror = { workspace = true }
arrayvec = { workspace = true }
num-bigint = { workspace = true }

# Optional import for ProgramError conversion
solana-program = { workspace = true, optional = true }
# Optional import for ProgramError conversion
anchor-lang = { workspace = true, optional = true }
pinocchio = { workspace = true, optional = true }


[target.'cfg(not(target_os = "solana"))'.dependencies]
ark-bn254 = { workspace = true }
sha2 = "0.10"
sha3 = "0.10"
ark-ff = { workspace = true }


[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(feature, values("frozen-abi", "no-entrypoint"))',
]

[dev-dependencies]
rand = { workspace = true }
num-bigint = { workspace = true, features = ["rand"] }
