[package]
name = "system-test"
version = "1.1.0"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "system_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]


[dev-dependencies]
solana-program-test = { workspace = true }
light-test-utils = { version = "1.2.0", path = "../../test-utils", features=["devenv"]}
reqwest = "0.11.26"
tokio = { workspace = true }
light-prover-client = {path = "../../circuit-lib/light-prover-client" }
num-bigint = "0.4.6"
num-traits = "0.2.19"
spl-token = { workspace = true }
anchor-spl = { workspace = true }
anchor-lang = { workspace = true }
light-compressed-token = { workspace = true }
light-system-program = { workspace = true }
account-compression = { workspace = true  }
light-hasher = {path = "../../merkle-tree/hasher"}
light-concurrent-merkle-tree = {path = "../../merkle-tree/concurrent"}
light-indexed-merkle-tree = {path = "../../merkle-tree/indexed"}
light-utils = {path = "../../utils"}
light-verifier = {path = "../../circuit-lib/verifier"}
light-registry = { workspace = true}
solana-cli-output = { workspace = true }
serde_json = "1.0.132"
solana-sdk = { workspace = true }
quote.workspace = true
