[package]
name = "light-compressed-pda"
version = "0.3.0"
description = "Registry for Light Protocol users"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_compressed_pda"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap"]
test-sbf = []
bench-sbf = []

[dependencies]
aligned-sized = { version = "0.1.0", path = "../../macros/aligned-sized" }
anchor-lang = "0.29.0"
bytemuck = "1.14"
light-hasher = { version = "0.1.0", path = "../../merkle-tree/hasher" }
light-heap = { version = "0.1.0", path = "../../heap", optional = true }
light-macros = { path = "../../macros/light" }
account-compression = { version = "0.3.1", path = "../account-compression", features = ["cpi"] }
light-concurrent-merkle-tree = { path = "../../merkle-tree/concurrent" }
light-utils = { version = "0.1.0", path = "../../utils" }
groth16-solana = { git= "https://github.com/Lightprotocol/groth16-solana", branch="master"}
light-verifier = {path = "../../circuit-lib/verifier" , features = ["solana"] }
borsh = "0.10.0"
rkyv = "0.7.44"

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = "1.18.11"

[dev-dependencies]
solana-banks-interface = "1.18.11"
solana-cli-output = "1.18.11"
solana-program-test = "1.18.11"
solana-sdk = "1.18.11"
serde_json = "1.0.114"
reqwest = "0.12"
tokio = "1.36.0"
light-test-utils = { version = "0.1.0", path = "../../test-utils"}
light-circuitlib-rs = {path = "../../circuit-lib/circuitlib-rs"}
light-merkle-tree-reference = {path = "../../merkle-tree/reference/"}
light-indexed-merkle-tree = {path = "../../merkle-tree/indexed/"}
num-bigint = "0.4.4"
num-traits = "0.2.18"
lazy_static = "1.4.0"
light-hash-set = { version = "0.1.0", path = "../../merkle-tree/hash-set", features = ["solana"] }
rand = "0.8.5"
