[package]
name = "light-concurrent-merkle-tree"
version = "0.3.0"
edition = "2021"
description = "Concurrent Merkle tree implementation"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"

[features]
heavy-tests = []
solana = [
  "light-bounded-vec/solana",
  "light-hasher/solana",
  "solana-program"
]

[dependencies]
borsh = "0.10"
bytemuck = "1.16"
light-bounded-vec = { path = "../bounded-vec", version = "0.3.0" }
light-hasher = { path = "../hasher", version = "0.3.0" }
light-utils = { version = "0.3.0", path = "../../utils" }
memoffset = "0.9"
solana-program = { workspace = true, optional = true }
thiserror = "1.0"

[dev-dependencies]
ark-bn254 = "0.4"
ark-ff = "0.4"
light-merkle-tree-reference = { path = "../reference", version = "0.3.0" }
light-hash-set = { version = "0.3.0", path = "../hash-set", features = ["solana"] }
rand = "0.8"
solana-program = {  workspace = true }
spl-account-compression = { version = "0.3.0", default-features = false}
spl-concurrent-merkle-tree = { version = "0.2.0", default-features = false}
tokio = { workspace = true }
num-bigint = "0.4"
num-traits = "0.2"
