[package]
name = "light-sdk-types"
version = "0.16.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/lightprotocol/light-protocol"
description = "Core types for Light Protocol SDK"

[features]
default = ["std"]
std = ["alloc", "light-compressed-account/std", "solana-msg"]
alloc = ["light-compressed-account/alloc"]
keccak = ["light-hasher/keccak"]
anchor = ["anchor-lang", "light-compressed-account/anchor"]
v2 = []
cpi-context = []
poseidon = ["light-hasher/poseidon", "light-compressed-account/poseidon"]

[dependencies]
anchor-lang = { workspace = true, optional = true }
# Light Protocol dependencies
light-account-checks = { workspace = true }
light-hasher = { workspace = true }
light-compressed-account = { workspace = true }
light-macros = { workspace = true }
solana-msg = { workspace = true, optional = true }

# External dependencies
borsh = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
solana-pubkey = { workspace = true }
