[package]
name = "light-hasher"
version = "0.1.0"
edition = "2021"

[features]
solana = ["solana-program"]

[dependencies]
light-poseidon = "0.2.0"
solana-program = { version = "1.18.11", optional = true }
thiserror = "1.0"

[target.'cfg(not(target_os = "solana"))'.dependencies]
ark-bn254 = "0.4.0"
sha2 = "0.10"
sha3 = "0.10"
