[package]
name = "e2e-test"
version = "1.1.0"
description = "Created with Anchor"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "lib"]
name = "e2e_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]
light-registry = { workspace = true }

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }
solana-client = { workspace = true }

[dev-dependencies]
light-test-utils = { workspace = true, features=["devenv"] }
light-program-test = { workspace = true, features = ["devenv"] }
tokio = { workspace = true }
light-prover-client = {workspace = true , features = ["devenv"] }
light-batched-merkle-tree = { workspace = true }
serial_test = { workspace = true }
