[package]
name = "account-compression"
version = "0.5.0"
description = "Solana account compression program"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "account_compression"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap"]
test-sbf = []
bench-sbf = []



[dependencies]
aligned-sized = { version = "0.3.0", path = "../../macros/aligned-sized" }
anchor-lang = { workspace = true }
bytemuck = { version = "1.16", features = ["min_const_generics"] }
light-bounded-vec = { version = "0.3.0", path = "../../merkle-tree/bounded-vec", features = ["solana"] }
light-hash-set = { version = "0.3.0", path = "../../merkle-tree/hash-set", features = ["solana"] }
light-hasher = { version = "0.3.0", path = "../../merkle-tree/hasher", features = ["solana"] }
light-heap = { version = "0.3.0", path = "../../heap", optional = true }
light-concurrent-merkle-tree = { version = "0.3.0", path = "../../merkle-tree/concurrent", features = ["solana"] }
light-indexed-merkle-tree = { version = "0.3.0", path = "../../merkle-tree/indexed", features = ["solana"] }
light-utils = { version = "0.3.0", path = "../../utils" }
num-bigint = "0.4"
num-traits = "0.2.19"
solana-security-txt = "1.1.0"

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }
