[package]
name = "account-compression"
version = "1.2.0"
description = "Solana account compression program"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "account_compression"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap", "test", "no-idl"]
test-sbf = []
bench-sbf = []
test = []


[dependencies]
aligned-sized = { workspace = true }
anchor-lang = { workspace = true }
bytemuck = { version = "1.17", features = ["min_const_generics"] }
light-bounded-vec = { workspace = true, features = ["solana"] }
light-hash-set = { workspace = true, features = ["solana"] }
light-hasher = { workspace = true, features = ["solana"] }
light-heap = { workspace = true, optional = true }
light-concurrent-merkle-tree = { workspace = true, features = ["solana"] }
light-indexed-merkle-tree = { workspace = true, features = ["solana"] }
light-utils = { workspace = true }
light-bloom-filter = { workspace = true, features = ["solana"] }
num-bigint = "0.4"
num-traits = "0.2.19"
solana-security-txt = "1.1.0"
light-verifier = { workspace = true, features = ["solana"] }
light-batched-merkle-tree = {workspace = true, features = ["solana"] }
light-merkle-tree-metadata = {workspace = true, features = ["anchor"] }

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }

[dev-dependencies]
rand = "0.8.5"
light-prover-client = { workspace = true, features = ["gnark"] }
light-merkle-tree-reference = { workspace = true }
tokio = { version = "1.16.1" }
serial_test = "3.1.1"