[package]
name = "account-compression"
version = "1.2.0"
description = "Solana account compression program"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "account_compression"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap"]
test-sbf = []
bench-sbf = []



[dependencies]
aligned-sized = { version = "1.1.0", path = "../../macros/aligned-sized" }
anchor-lang = { workspace = true }
bytemuck = { version = "1.17", features = ["min_const_generics"] }
light-bounded-vec = { version = "1.1.0", path = "../../merkle-tree/bounded-vec", features = ["solana"] }
light-hash-set = { workspace = true, features = ["solana"] }
light-hasher = { version = "1.1.0", path = "../../merkle-tree/hasher", features = ["solana"] }
light-heap = { version = "1.1.0", path = "../../heap", optional = true }
light-concurrent-merkle-tree = { version = "1.1.0", path = "../../merkle-tree/concurrent", features = ["solana"] }
light-indexed-merkle-tree = { version = "1.1.0", path = "../../merkle-tree/indexed", features = ["solana"] }
light-utils = { version = "1.0.0", path = "../../utils" }
light-bloom-filter = { version = "0.1.0", path = "../../merkle-tree/bloom-filter", features = ["solana"] }
num-bigint = "0.4"
num-traits = "0.2.19"
solana-security-txt = "1.1.0"
light-verifier = { version = "1.0.0", path = "../../circuit-lib/verifier", features = ["solana"] }

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }

[dev-dependencies]
rand = "0.8.5"
light-prover-client = { version = "1.2.0", path = "../../circuit-lib/light-prover-client", features = ["gnark"] }
light-merkle-tree-reference = { version = "1.1.0", path = "../../merkle-tree/reference" }
tokio = { version = "1.16.1" }
serial_test = "3.1.1"
