[package]
name = "light-zero-copy"
version = "0.1.0"
description = "Zero copy vector and utils for Solana programs."
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
default = ["std"]
solana = ["solana-program"]
anchor = ["anchor-lang"]
pinocchio = ["dep:pinocchio"]
std = []

[dependencies]
solana-program = { workspace = true, optional = true }
anchor-lang = { workspace = true, optional = true }
pinocchio = { workspace = true, optional = true }
thiserror = { workspace = true, default-features = false }
zerocopy = { workspace = true }

[dev-dependencies]
rand = { workspace = true }
zerocopy = { workspace = true, features = ["derive"] }
