[package]
name = "light-compressed-account"
version = "0.3.0"
description = "Compressed account struct and common utility functions used in Light Protocol."
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
default = []
solana = ["dep:solana-pubkey", "dep:solana-program-error"]
anchor = ["anchor-lang"]
pinocchio = ["dep:pinocchio"]
bytemuck-des = ["bytemuck"]
new-unique = ["dep:solana-pubkey"]

[dependencies]
thiserror = { workspace = true }
zerocopy = { workspace = true, features = ["derive"] }
light-hasher = { workspace = true }
light-zero-copy = { workspace = true, features = ["std", "mut", "derive"] }
light-macros = { workspace = true }
pinocchio = { workspace = true, optional = true }
solana-program-error = { workspace = true, optional = true }

# Feature-gated dependencies
anchor-lang = { workspace = true, optional = true }
bytemuck = { workspace = true, optional = true, features = ["derive"] }
borsh = { workspace = true }
solana-pubkey = { workspace = true, optional = true }

[dev-dependencies]
rand = { workspace = true }
light-poseidon = { workspace = true }
borsh = { workspace = true }
ark-ff = { workspace = true }
ark-bn254 = { workspace = true }
num-bigint = { workspace = true, features = ["rand"] }
