[package]
name = "light-compressed-account"
version = "0.1.0"
description = "Compressed account struct and common utility functions used in Light Protocol."
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
default = ["solana"]
solana = [
    "dep:solana-program",
    "light-hasher/solana",
    "light-zero-copy/solana",
    "light-macros/solana",
]
anchor = ["solana", "anchor-lang"]
pinocchio = [
    "dep:pinocchio",
    "light-hasher/pinocchio",
    "light-zero-copy/pinocchio",
    "light-macros/pinocchio",
]
bytemuck-des = ["bytemuck"]

[dependencies]
thiserror = { workspace = true }
zerocopy = { workspace = true, features = ["derive"] }
light-hasher = { workspace = true, default-features = false }
light-zero-copy = { workspace = true, default-features = false }
light-macros = { workspace = true, default-features = false }

# Feature-gated dependencies
solana-program = { workspace = true, optional = true }
anchor-lang = { workspace = true, optional = true }
pinocchio = { workspace = true, optional = true }
bytemuck = { workspace = true, optional = true }
borsh = { workspace = true }
rand = { workspace = true }

[dev-dependencies]
light-poseidon = { workspace = true }
borsh = { workspace = true }
solana-program = { workspace = true }
ark-ff = { workspace = true }
ark-bn254 = { workspace = true }
num-bigint = { workspace = true, features = ["rand"] }
