[package]
name = "system-cpi-test"
version = "0.2.1"
description = "Test program using generalized account compression"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "system_cpi_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]
anchor-lang = { workspace = true }
light-compressed-token = { path = "../../programs/compressed-token", version = "0.4.1", features = ["cpi"]}
light-system-program = { path = "../../programs/system", version = "0.4.1", features = ["cpi"]}
light-registry = { path = "../../programs/registry", version = "0.4.1", features = ["cpi"]}
account-compression = { path = "../../programs/account-compression", version = "0.4.1", features = ["cpi"] }
light-hasher = { path = "../../merkle-tree/hasher", version = "0.2.1" }
light-utils = { path = "../../utils", version = "0.2.1" }

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }

[dev-dependencies]
solana-program-test = { workspace = true }
light-test-utils = { version = "0.2.1", path = "../../test-utils" }
reqwest = "0.11.26"
tokio = "1.36.0"
light-prover-client = { path = "../../circuit-lib/light-prover-client", version = "0.2.1" }
num-bigint = "0.4.4"
num-traits = "0.2.18"
spl-token = "4.0.0"
anchor-spl = { workspace = true }
