export KEY_PAIR=""
export RELAYER_RECIPIENT=""
export LOOK_UP_TABLE=""
export LOCAL_TEST_ENVIRONMENT="false"
export REDIS_ENVIRONMENT="LOCAL"
export NETWORK="DEVNET"
export RPC_URL=""
# set these if you're using a remote db:
# export DB_PORT="25061"
# export HOSTNAME=""
# export PASSWORD=""
# export USERNAME="default"