node_modules
build
npm-debug.log
.nyc
.env
.DS_Store

debug
target
**/*.rs.bk
*.pdb

.anchor
.DS_Store
test-ledger
.history
.vscode
.idea

build-circuit
**/verifying_key_*.rs
**/*.circom
!private-compressed-account/**/*.circom
