[package]
name = "light-sdk"
version = "0.16.0"
description = "Rust SDK for ZK Compression on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_sdk"

[features]
default = []
idl-build = ["anchor-lang/idl-build"]
anchor = [
    "anchor-lang",
    "light-compressed-account/anchor",
    "light-sdk-types/anchor",
]
v2 = ["light-sdk-types/v2"]
cpi-context = ["light-sdk-types/cpi-context"]
devnet = []
poseidon = ["light-hasher/poseidon", "light-compressed-account/poseidon"]
keccak = ["light-hasher/keccak", "light-compressed-account/keccak"]
sha256 = ["light-hasher/sha256", "light-compressed-account/sha256"]
merkle-tree = ["light-concurrent-merkle-tree/solana"]


[dependencies]
solana-pubkey = { workspace = true, features = ["borsh", "sha2", "curve25519"] }
solana-account-info = { workspace = true }
solana-msg = { workspace = true }
solana-cpi = { workspace = true }
solana-program-error = { workspace = true }
solana-instruction = { workspace = true }

anchor-lang = { workspace = true, optional = true }
num-bigint = { workspace = true }

borsh = { workspace = true }
thiserror = { workspace = true }

light-sdk-macros = { workspace = true }
light-sdk-types = { workspace = true, features = ["std"] }
light-macros = { workspace = true }
light-compressed-account = { workspace = true, features = ["std"] }
light-hasher = { workspace = true, features = ["std"] }
light-account-checks = { workspace = true, features = ["solana"] }
light-zero-copy = { workspace = true }
light-concurrent-merkle-tree = { workspace = true, optional = true }

[dev-dependencies]
num-bigint = { workspace = true }
light-compressed-account = { workspace = true, features = ["new-unique"] }
light-hasher = { workspace = true, features = ["keccak"] }
anchor-lang = { workspace = true }
