[package]
name = "light-sdk"
version = "0.12.0"
description = "Rust SDK for ZK Compression on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_sdk"

[features]
default = ["borsh"]
idl-build = ["anchor-lang/idl-build"]
anchor = [
    "anchor-lang",
    "light-compressed-account/anchor",
    "light-sdk-types/anchor",
]
v2 = []

[dependencies]
solana-pubkey = { workspace = true, features = ["borsh", "sha2", "curve25519"] }
solana-account-info = { workspace = true }
solana-msg = { workspace = true }
solana-cpi = { workspace = true }
solana-program-error = { workspace = true }
solana-instruction = { workspace = true }

anchor-lang = { workspace = true, optional = true }
num-bigint = { workspace = true }

# only needed with solana-program
borsh = { workspace = true, optional = true }
thiserror = { workspace = true }

light-sdk-macros = { workspace = true }
light-sdk-types = { workspace = true }
light-macros = { workspace = true }
light-compressed-account = { workspace = true }
light-hasher = { workspace = true }
light-account-checks = { workspace = true, features = ["solana"] }
light-zero-copy = { workspace = true }

[dev-dependencies]
num-bigint = { workspace = true }
light-compressed-account = { workspace = true, features = ["new-unique"] }
