[package]
name = "light-sdk"
version = "0.19.0"
description = "Rust SDK for ZK Compression on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_sdk"

[features]
default = ["v2"]
idl-build = [
    "anchor-lang/idl-build",
    "light-compressed-account/idl-build",
    "light-sdk-types/idl-build",
    "light-compressible/idl-build",
    "light-token-interface/idl-build",
    "anchor",
    "dep:solana-program"
]
anchor = [
    "anchor-lang",
    "light-compressed-account/anchor",
    "light-sdk-types/anchor",
    "light-compressible/anchor",
    "light-token-interface/anchor",
]
v2 = ["light-sdk-types/v2"]
cpi-context = ["light-sdk-types/cpi-context"]
devnet = []
poseidon = ["light-hasher/poseidon", "light-compressed-account/poseidon", "light-sdk-interface/poseidon"]
keccak = ["light-hasher/keccak", "light-compressed-account/keccak", "light-sdk-interface/keccak"]
sha256 = ["light-hasher/sha256", "light-compressed-account/sha256", "light-sdk-interface/sha256"]
merkle-tree = ["light-concurrent-merkle-tree/solana"]
anchor-discriminator = ["light-sdk-macros/anchor-discriminator"]
custom-heap = ["light-heap"]
profile-program = [
]
profile-heap = [
]

[dependencies]
solana-pubkey = { workspace = true, features = ["borsh", "sha2", "curve25519"] }
solana-account-info = { workspace = true }
solana-msg = { workspace = true }
solana-cpi = { workspace = true }
solana-program-error = { workspace = true }
solana-instruction = { workspace = true }
solana-clock = { workspace = true }
solana-sysvar = { workspace = true }
solana-system-interface = { workspace = true }
solana-loader-v3-interface = { workspace = true, features = ["serde"] }

anchor-lang = { workspace = true, optional = true }
solana-program = { workspace = true, optional = true }
num-bigint = { workspace = true }

borsh = { workspace = true }
bytemuck = { workspace = true }
thiserror = { workspace = true }
bincode = "1"

light-program-profiler = { workspace = true }
light-sdk-macros = { workspace = true }
light-sdk-types = { workspace = true, features = ["std"] }
light-macros = { workspace = true }
light-compressed-account = { workspace = true, features = ["std"] }
light-hasher = { workspace = true, features = ["std"] }
light-account-checks = { workspace = true, features = ["solana"] }
light-zero-copy = { workspace = true }
light-concurrent-merkle-tree = { workspace = true, optional = true }
light-compressible = { workspace = true }
light-heap = { workspace = true, optional = true }
light-token-interface = { workspace = true } # TODO: make optional
light-sdk-interface = { workspace = true, features = ["std", "token"] }

[dev-dependencies]
num-bigint = { workspace = true }
light-compressed-account = { workspace = true, features = ["new-unique"] }
light-hasher = { workspace = true, features = ["keccak"] }
anchor-lang = { workspace = true }

[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(feature, values("frozen-abi", "no-entrypoint"))',
]
