[package]
name = "light-sdk"
version = "0.11.0"
description = "Rust SDK for ZK Compression on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_sdk"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
mem-profiling = []
default = ["solana"]
test-sbf = []
bench-sbf = []
idl-build = ["anchor-lang/idl-build"]
legacy = ["account-compression", "light-system-program-anchor", "anchor-lang"]
anchor = ["anchor-lang"]
solana = ["solana-program", "borsh"]

[dependencies]
solana-program = { workspace = true, optional = true }
anchor-lang = { workspace = true, optional = true }
num-bigint = { workspace = true }
# only needed with solana-program
borsh = { workspace = true, optional = true }
thiserror = { workspace = true }

# anchor programs
account-compression = { workspace = true, optional = true }
light-system-program-anchor = { workspace = true, optional = true }

light-sdk-macros = { workspace = true }

light-macros = { workspace = true }
light-compressed-account = { workspace = true }
light-verifier = { workspace = true }
light-hasher = { workspace = true }

# feature solana dependencies
[target.'cfg(feature = "solana")'.dependencies]
light-verifier = { workspace = true, features = ["solana"] }
light-compressed-account = { workspace = true, features = ["solana"] }
light-hasher = { workspace = true, features = ["solana"] }

# feature anchor dependencies
[target.'cfg(feature = "anchor")'.dependencies]
light-verifier = { workspace = true, features = ["anchor"] }
light-compressed-account = { workspace = true, features = ["anchor"] }
light-hasher = { workspace = true, features = ["anchor"] }

[dev-dependencies]
num-bigint = { workspace = true }
