[package]
name = "system-cpi-test"
version = "1.1.0"
description = "Test program using generalized account compression"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "lib"]
name = "system_cpi_test"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
test-sbf = []
custom-heap = []
default = ["custom-heap"]

[dependencies]
anchor-lang = { workspace = true }
anchor-spl = { workspace = true }
light-compressed-token = { workspace = true, features = ["cpi"] }
light-system-program-anchor = { workspace = true, features = ["cpi"] }
light-registry = { workspace = true, features = ["cpi"] }
account-compression = { workspace = true, features = ["cpi"] }
light-hasher = { workspace = true, features = ["poseidon"] }
light-compressed-account = { workspace = true, features = ["anchor"] }
light-batched-merkle-tree = { workspace = true }
light-merkle-tree-metadata = { workspace = true, features = ["anchor"] }
light-account-checks = { workspace = true }
light-sdk = { workspace = true, features = ["v2", "cpi-context"] }
light-sdk-types = { workspace = true, features = ["v2", "cpi-context"] }

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }
light-test-utils = { workspace = true, features = ["devenv"] }

[dev-dependencies]
light-client = { workspace = true, features = ["devenv"] }
light-sdk = { workspace = true, features = ["anchor", "v2", "cpi-context"] }
light-sdk-types = { workspace = true, features = ["v2", "cpi-context"] }
light-program-test = { workspace = true, features = ["devenv"] }
tokio = { workspace = true }
light-prover-client = { workspace = true, features = ["devenv"] }
light-verifier = { workspace = true }
serial_test = { workspace = true }
create-address-test-program = { workspace = true, features = ["cpi"] }
rand = { workspace = true }
[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(feature, values("frozen-abi", "no-entrypoint"))',
]
