[package]
name = "light-verifier"
version = "1.1.0"
description = "ZKP proof verifier used in Light Protocol"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
solana = ["solana-program"]
anchor = ["anchor-lang"]
pinocchio = ["dep:pinocchio"]

[dependencies]
groth16-solana = { workspace = true }
thiserror = { workspace = true }
light-compressed-account = { workspace = true, default-features = false }

# Optional import for ProgramError conversion
solana-program = { workspace = true, optional = true }
# Optional import for ProgramError conversion
anchor-lang = { workspace = true, optional = true }
# Optional import for ProgramError conversion
pinocchio = { workspace = true, optional = true }

[dev-dependencies]
tokio = { workspace = true }
reqwest = { workspace = true, features = ["json", "rustls-tls"] }
light-prover-client = { workspace = true }
serial_test = { workspace = true }

[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = ['cfg(target_os, values("solana"))']
