[package]
name = "light-verifier"
version = "5.0.0"
description = "ZKP proof verifier used in Light Protocol"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
default = []
solana = [
    "solana-program-error",
    "light-compressed-account/solana",
    "solana-msg",
]
anchor = ["solana"] # For backward compatibility, alias to solana
pinocchio = ["dep:pinocchio", "light-compressed-account/pinocchio"]

[dependencies]
groth16-solana = { workspace = true }
thiserror = { workspace = true }
light-compressed-account = { workspace = true, features = ["std"] }

# Optional import for ProgramError conversion
solana-program-error = { workspace = true, optional = true }
solana-msg = { workspace = true, optional = true }
# Optional import for ProgramError conversion
pinocchio = { workspace = true, optional = true }

[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = ['cfg(target_os, values("solana"))']
