[package]
name = "light-client"
version = "0.16.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/lightprotocol/light-protocol"
description = "Client library for Light Protocol"

[features]
devenv = ["v2"]
v2 = []
program-test = ["solana-banks-client", "litesvm"]

[dependencies]
# Solana dependencies
solana-rpc-client = { workspace = true }
solana-rpc-client-api = { workspace = true }
solana-transaction-status-client-types = { workspace = true }
solana-account-decoder-client-types = { workspace = true }
solana-pubkey = { workspace = true }
solana-instruction = { workspace = true }
solana-program-error = { workspace = true }
solana-transaction = { workspace = true }
solana-transaction-error = { workspace = true }
solana-hash = { workspace = true }
solana-clock = { workspace = true }
solana-signature = { workspace = true }
solana-commitment-config = { workspace = true }
solana-account = { workspace = true }
solana-epoch-info = { workspace = true }
solana-keypair = { workspace = true }
solana-compute-budget-interface = { workspace = true }
solana-banks-client = { workspace = true, optional = true }
solana-address-lookup-table-interface = { version = "2.2.1", features = [
    "bytemuck",
    "bincode",
] }

# Light Protocol dependencies
light-merkle-tree-metadata = { workspace = true, features = ["solana"] }
light-concurrent-merkle-tree = { workspace = true }
light-indexed-merkle-tree = { workspace = true }
light-sdk = { workspace = true }
light-hasher = { workspace = true, features = ["poseidon"] }
light-compressed-account = { workspace = true, features = ["solana", "poseidon"] }
light-event = { workspace = true }

photon-api = { workspace = true }
light-prover-client = { workspace = true }
litesvm = { workspace = true, optional = true }

# External dependencies
borsh = { workspace = true }
async-trait = { workspace = true }
thiserror = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
base64 = { workspace = true }
bs58 = { workspace = true }
tokio = { workspace = true, features = ["rt", "time"] }
bytemuck = { workspace = true }

tracing = { workspace = true }
lazy_static = { workspace = true }
rand = { workspace = true }

# Tests are in program-tests/client-test/tests/light-client.rs
# [dev-dependencies]
