[package]
name = "light-client"
version = "0.9.1"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/lightprotocol/light-protocol"
description = "Client library for Light Protocol"

[features]
devenv = []

[dependencies]
solana-banks-client = { workspace = true }
solana-client = { workspace = true }
solana-program = { workspace = true }
solana-sdk = { workspace = true }
solana-transaction-status = { workspace = true }

light-merkle-tree-metadata = { workspace = true, features = ["anchor"] }
light-concurrent-merkle-tree = { workspace = true }
light-indexed-merkle-tree = { workspace = true }
light-merkle-tree-reference = { workspace = true }
light-prover-client = { workspace = true }
light-sdk = { workspace = true, features = ["anchor"] }
light-hasher = { workspace = true }
light-compressed-account = { workspace = true, features = ["anchor"] }
light-indexed-array = { workspace = true }
photon-api = { workspace = true }

borsh = { workspace = true }
tokio = { workspace = true }
async-trait = { workspace = true }
bb8 = { workspace = true }
thiserror = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
base64 = { workspace = true }

governor = { workspace = true }
tracing = { workspace = true }
log = "0.4.27"

[dev-dependencies]
light-program-test = { workspace = true }
light-test-utils = { workspace = true, features = ["devenv"] }
light-compressed-token = { workspace = true }
spl-token = { workspace = true }
rand = { workspace = true }
