[package]
name = "light-sdk"
version = "0.1.0"
description = "ZK Compression on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light-sdk"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap"]
test-sbf = []
bench-sbf = []

[dependencies]
aligned-sized = { version = "0.1.4", path = "../../macros/aligned-sized" }
anchor-lang = "0.29.0"
bytemuck = "1.14"
light-hasher = { version = "0.1.4", path = "../../merkle-tree/hasher" }
light-heap = { version = "0.1.5", path = "../../heap", optional = true }
account-compression = { version = "0.3.5", path = "../account-compression", features = ["cpi"] }
light-concurrent-merkle-tree = { path = "../../merkle-tree/concurrent", version = "0.1.4" }
light-utils = { version = "0.1.4", path = "../../utils" }
groth16-solana = "0.0.3"
light-verifier = { path = "../../circuit-lib/verifier", version = "0.1.4", features = ["solana"] }
borsh = "0.10.0"

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = "1.18.11"

[dev-dependencies]
solana-banks-interface = "1.18.11"
solana-cli-output = "1.18.11"
solana-program-test = "1.18.11"
solana-sdk = "1.18.11"
serde_json = "1.0.114"
reqwest = "0.12"
tokio = "1.36.0"
light-circuitlib-rs = { version = "0.1.4", path = "../../circuit-lib/circuitlib-rs" }
light-merkle-tree-reference = { version = "0.1.4", path = "../../merkle-tree/reference/" }
light-indexed-merkle-tree = { version = "0.1.4", path = "../../merkle-tree/indexed/" }
num-bigint = "0.4.4"
num-traits = "0.2.18"
lazy_static = "1.4.0"
light-hash-set = { version = "0.1.4", path = "../../merkle-tree/hash-set", features = ["solana"] }
rand = "0.8.5"
