[package]
name = "light-program-test"
version = "0.1.0"
edition = "2021"

[features]
default = []
devenv = ["v2", "light-client/devenv", "forester-utils/devenv"]
v2 = ["light-client/v2", "forester-utils/v2"]

[dependencies]
light-client = { workspace = true, features = ["program-test", "devenv"] }
light-prover-client = { workspace = true }
light-sdk = { workspace = true, features = ["anchor"] }
light-indexed-merkle-tree = { workspace = true, features = ["solana"] }
light-indexed-array = { workspace = true }
light-merkle-tree-reference = { workspace = true }
light-merkle-tree-metadata = { workspace = true, features = ["anchor"] }
light-concurrent-merkle-tree = { workspace = true }
light-hasher = { workspace = true }
light-registry = { workspace = true, features = ["cpi"] }
light-system-program-anchor = { workspace = true, features = ["cpi"] }
light-compressed-token = { workspace = true, features = ["cpi"] }
light-compressed-account = { workspace = true, features = ["anchor"] }
photon-api = { workspace = true }
account-compression = { workspace = true, features = ["cpi"] }
forester-utils = { workspace = true }

log = { workspace = true }
borsh = { workspace = true }
tokio = { workspace = true }
async-trait = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
reqwest = { workspace = true }
anchor-lang = { workspace = true }
light-batched-merkle-tree = { workspace = true, features = ["test-only"] }

solana-transaction-status = { workspace = true }
solana-rpc-client-api = { workspace = true }
solana-sdk = { workspace = true }
solana-banks-client = { workspace = true }
solana-program-test = { workspace = true }
solana-pubkey = { workspace = true }
solana-instruction = { workspace = true }
