[package]
name = "light-system-program-pinocchio"
version = "1.2.0"
description = "ZK Compression on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_system_program_pinocchio"
[features]
no-entrypoint = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
mem-profiling = []
default = ["debug", "readonly"]
test-sbf = []
debug = []
readonly = []

[dependencies]
light-concurrent-merkle-tree = { workspace = true, features = ["pinocchio"] }
light-indexed-merkle-tree = { workspace = true, features = [
    "pinocchio",
], default-features = false }
bytemuck = { workspace = true }
thiserror = { workspace = true }
aligned-sized = { workspace = true }
borsh = { workspace = true }
light-hasher = { workspace = true, features = [
    "pinocchio",
], default-features = false }
light-macros = { workspace = true, features = [
    "pinocchio",
], default-features = false }
light-merkle-tree-metadata = { workspace = true, features = [
    "pinocchio",
], default-features = false }

light-compressed-account = { workspace = true, features = [
    "pinocchio",
], default-features = false }
light-verifier = { workspace = true, features = [
    "pinocchio",
], default-features = false }
solana-security-txt = "1.1.0"
light-batched-merkle-tree = { workspace = true, features = [
    "pinocchio",
], default-features = false }
light-zero-copy = { workspace = true, features = ["pinocchio"] }
zerocopy = { workspace = true }
light-account-checks = { workspace = true, default-features = false, features = [
    "pinocchio",
] }
pinocchio = { workspace = true }
pinocchio-system = { version = "0.2.3" }

[dev-dependencies]
rand = { workspace = true }


[lints.rust.unexpected_cfgs]
level = "allow"
check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(feature, values("frozen-abi", "no-entrypoint"))',
]
