[package]
name = "light-system-program"
version = "0.5.0"
description = "ZK Compression on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_system_program"
[features]
no-entrypoint = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap", "idl-build"]
test-sbf = []
bench-sbf = []
idl-build = ["anchor-lang/idl-build"]


[dependencies]
aligned-sized = { version = "0.3.0", path = "../../macros/aligned-sized" }
anchor-lang = { workspace = true }
light-hasher = { version = "0.3.0", path = "../../merkle-tree/hasher" }
light-heap = { version = "0.3.0", path = "../../heap", optional = true }
light-macros = { path = "../../macros/light", version = "0.5.0" }
light-concurrent-merkle-tree = { path = "../../merkle-tree/concurrent", version = "0.3.0" }
light-indexed-merkle-tree = { path = "../../merkle-tree/indexed", version = "0.3.0" }
account-compression = { version = "0.5.0", path = "../account-compression", features = ["cpi"] }
light-utils = { version = "0.3.0", path = "../../utils" }
groth16-solana = "0.0.3"
light-verifier = { path = "../../circuit-lib/verifier", version = "0.3.0", features = ["solana"] }
solana-security-txt = "1.1.0"

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }

[dev-dependencies]
rand = "0.8.5"
