[package]
name = "psp-compressed-token"
version = "0.3.0"
description = "Registry for Light Protocol users"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "psp_compressed_token"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = ["custom-heap"]
custom-heap = []
test-sbf = []

[dependencies]
anchor-lang = "0.29.0"
anchor-spl = "0.29.0"
aligned-sized = { version = "0.1.0", path = "../../macros/aligned-sized" }
account-compression = { version = "0.3.1", path = "../account-compression", features = ["cpi"] }
psp-compressed-pda = { version = "0.3.0", path = "../compressed-pda", features = ["cpi"] }
bytemuck = "1.14"
solana-security-txt = "1.1.0"
light-hasher = { version = "0.1.0", path = "../../merkle-tree/hasher" }
light-utils = { version = "0.1.0", path = "../../utils" }

# TODO: Remove once https://github.com/solana-labs/solana/issues/33504 is resolved.
ahash = "=0.8.6"
spl-token = "3.5.0"

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = "1.17.4"

[dev-dependencies]
solana-program-test = "1.17.4"
light-test-utils = { version = "0.1.0", path = "../../test-utils"}
reqwest = "0.11.26"
tokio = "1.36.0"
circuitlib-rs = {path = "../../circuit-lib/circuitlib-rs"}
num-bigint = "0.4.4"
num-traits = "0.2.18"
light-merkle-tree-reference = { version = "0.1.0", path = "../../merkle-tree/reference" }
light-concurrent-merkle-tree = { version = "0.1.0", path = "../../merkle-tree/concurrent" }
