[package]
name = "light-compressed-token"
version = "0.5.0"
description = "Generalized token compression on Solana"
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "light_compressed_token"

[features]
no-entrypoint = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
custom-heap = ["light-heap"]
mem-profiling = []
default = ["custom-heap", "idl-build"]
test-sbf = []
bench-sbf = []
cpi-context = []
idl-build = ["anchor-lang/idl-build", "anchor-spl/idl-build"]



[dependencies]
anchor-lang = { workspace = true }
anchor-spl = { workspace = true }
spl-token = { workspace = true, features = ["no-entrypoint"]}
aligned-sized = { version = "0.3.0", path = "../../macros/aligned-sized" }
account-compression = { version = "0.5.0", path = "../account-compression", features = ["cpi", "no-idl"] }
light-system-program = { version = "0.5.0", path = "../system", features = ["cpi"] }
solana-security-txt = "1.1.0"
light-hasher = { version = "0.3.0", path = "../../merkle-tree/hasher" }
light-heap = { version = "0.3.0", path = "../../heap", optional = true }
light-utils = { version = "0.3.0", path = "../../utils" }

[target.'cfg(not(target_os = "solana"))'.dependencies]
solana-sdk = { workspace = true }

[dev-dependencies]
rand = "0.8.5"
