[package]
name = "forester"
version = "1.1.0"
edition = "2021"

[dependencies]
anchor-lang = { workspace = true }
clap = {version = "4.5.23", features = ["derive", "env"]}
solana-sdk = { workspace = true }
solana-client = { workspace = true }
solana-account-decoder = { workspace = true }
solana-program = { workspace = true }
account-compression = { workspace = true }
light-batched-merkle-tree = { workspace = true }
light-system-program = { workspace = true, features = ["cpi"] }
light-hash-set = { workspace = true, features = ["solana"] }
light-hasher = { workspace = true }
light-merkle-tree-reference = { workspace = true }
light-registry = { workspace = true}
photon-api = { workspace = true }
forester-utils = { workspace = true }
light-client = { workspace = true }
light-merkle-tree-metadata = { workspace = true }
light-sdk = { workspace = true }
light-program-test = { workspace = true}
solana-transaction-status = { workspace = true }
bincode = "1.3"
url = "2.2"
tokio-tungstenite = "0.21"
bb8 = { workspace = true }

serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
reqwest = { version = "0.11", features = ["json", "rustls-tls", "blocking"]  }
futures = "0.3.31"
thiserror = "1"
borsh = "0.10.3"
bs58 = "0.5.1"
env_logger = "0.11"
async-trait = "0.1.81"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
tracing-appender = "0.2.3"
prometheus = "0.13"
lazy_static = "1.4"
warp = "0.3"
dashmap = "6.1.0"
scopeguard = "1.2.0"
anyhow = "1.0.94"

[dev-dependencies]
serial_test = "3.2.0"
light-prover-client = { workspace = true }
light-test-utils = { workspace = true }
light-program-test = { workspace = true, features = ["devenv"] }
dotenvy = "0.15"