[package]
name = "light-sdk-macros"
version = "0.16.0"
description = "Macros for Programs using the Light SDK for ZK Compression "
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"


[features]
anchor-discriminator = []

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
solana-pubkey = { workspace = true, features = ["curve25519", "sha2"] }

light-hasher = { workspace = true, features = ["sha256"] }

[dev-dependencies]
light-compressed-account = { workspace = true, features = ["std"] }
light-sdk-types = { workspace = true }
prettyplease = "0.2.29"
solana-pubkey = { workspace = true, features = ["borsh"] }
borsh = { workspace = true }
light-macros = { workspace = true }
light-account-checks = { workspace = true }
light-hasher = { workspace = true , features = ["poseidon", "keccak"]}
light-poseidon = { workspace = true }

[lib]
proc-macro = true
