name: Docker Build and Push to DOCR

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "**"
    paths:
      - "forester/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DigitalOcean Container Registry
        uses: docker/login-action@v3
        with:
          registry: registry.digitalocean.com
          username: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          password: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./forester/Dockerfile
          platforms: linux/amd64
          push: true
          tags: registry.digitalocean.com/v3-relayer/forester:latest

      - name: Inspect image
        run: |
          docker buildx imagetools inspect registry.digitalocean.com/v3-relayer/forester:latest