on:
  push:
    branches:
      - main
    paths:
      - "forester/**"
      - "photon-api/**"
      - ".github/workflows/forester-tests.yml"
  pull_request:
    branches:
      - "**"
    paths:
      - "forester/**"
      - "photon-api/**"
      - ".github/workflows/forester-tests.yml"
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

name: forester-tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  forester-tests:
    name: forester-tests
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 120

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: Build CLI
        run: |
          source ./scripts/devenv.sh
          npx nx build @lightprotocol/zk-compression-cli
      
      - name: Run forester tests
        run: |
          source ./scripts/devenv.sh
          cd forester
          RUSTFLAGS="--cfg tokio_unstable -D warnings" cargo test --package forester -- --test-threads=1 --nocapture