on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
    types:
      - opened
      - synchronize
      - ready_for_review
      - reopened

name: light-sdk-tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  light-sdk-tests:
    name: light-sdk-tests
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: sdk-tests-light-rpc-cli
            sub-tests: '[
                "@lightprotocol/circuit-lib.js",
                "@lightprotocol/prover.js",
                "@lightprotocol/zk-compression-cli",
            ]'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: ${{ matrix.name }}
        run: |
          source ./scripts/devenv.sh
          IFS=', ' read -r -a sub_tests <<< "${{ join(fromJSON(matrix['sub-tests']), ', ') }}"
          for subtest in "${sub_tests[@]}"
          do
            npx nx affected --base=remotes/origin/main~1 -t test "$subtest"
          done
