# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
#     types:
#       - opened
#       - synchronize
#       - ready_for_review
#       - reopened

name: light-sdk-tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  light-sdk-tests:
    name: light-sdk-tests
    if: github.event.pull_request.draft == false
    runs-on: buildjet-16vcpu-ubuntu-2204
    strategy:
      matrix:
        include:
          - name: sdk-tests-light-relayer-cli
            sub-tests: '[
            "@lightprotocol/cli",
            "@lightprotocol/prover.js"]'
          - name: circuit-tests
            sub-tests: '[
            "@lightprotocol/circuit-lib.js",
            "@lightprotocol/circuit-lib.circom",
            "@lightprotocol/relayer"
          ]'
    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: ${{ matrix.name }}
        run: |
          source ./scripts/devenv.sh

          IFS=', ' read -r -a sub_tests <<< "${{ join(fromJSON(matrix['sub-tests']), ', ') }}"
          for subtest in "${sub_tests[@]}"
          do
            npx nx test $subtest
            if [[ "$subtest" == "circuit-lib/circuit-lib.circom" ]]; then
              npx nx test-build-light-circuits $subtest
            fi
          done

      - name: Run Relayer Docker build test
        if: matrix.name == 'circuit-tests'
        run: ./scripts/testDockerRelayer.sh
