on:
  push:
    branches:
      - main
    paths:
      - "zk.js/**"
      - "programs/**"
      - "light-circuits/**"
      - "psp-examples/**"
      - ".github/workflows/light-system-programs-tests.yml"
  pull_request:
    branches:
      - main
    paths:
      - "zk.js/**"
      - "programs/**"
      - "light-circuits/**"
      - ".github/workflows/light-system-programs-tests.yml"
      - "psp-examples/**"
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

name: system-programs-psp-examples-tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  system-programs:
    name: system-programs-psp-examples
    if: github.event.pull_request.draft == false
    runs-on: buildjet-16vcpu-ubuntu-2204
    strategy:
      matrix:
        include:
          - test: system-programs-psp-examples
            sub-tests: '[
              "@lightprotocol/account-compression-programs:test",
              "@lightprotocol/zk.js:test",
              "@lightprotocol/encrypted-messaging:test",
              "@lightprotocol/private-payments:test"
            ]'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: ${{ matrix.test }}
        run: |
          source ./scripts/devenv.sh          
          IFS=', ' read -r -a sub_tests <<< "${{ join(fromJSON(matrix['sub-tests']), ', ') }}"
          for subtest in "${sub_tests[@]}"
          do
            npx nx run $subtest
          done
