on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

name: lint

jobs:
  lint:
    name: lint
    # if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          ./scripts/install.sh

      - name: Run linters
        run: |
          source ./scripts/devenv.sh
          ./scripts/lint.sh
