# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
#     types:
#       - opened
#       - synchronize
#       - ready_for_review
#       - reopened

name: psp-examples

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  psp-examples:
    name: psp-examples
    if: github.event.pull_request.draft == false
    runs-on: buildjet-16vcpu-ubuntu-2204
    strategy:
      matrix:
        include:
          - name: psp-examples-projects
            sub-tests: '[
              "@lightprotocol/encrypted-messaging",
              "@lightprotocol/private-payments",
              "@lightprotocol/streaming-payments",
              "@lightprotocol/swap"              
            ]'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: ${{ matrix.name }}
        run: |
          source ./scripts/devenv.sh
          IFS=', ' read -r -a sub_tests <<< "${{ join(fromJSON(matrix['sub-tests']), ', ') }}"
          for subtest in "${sub_tests[@]}"
          do
            npx nx test $subtest            
          done
