name: Open a Rust release PR
on:
  workflow_dispatch:
    inputs:
      crate:
        description: Crate to release
        required: true
        type: choice
        options:
          - all
          - aligned-sized
          - light-bounded-vec
          - light-circuitlib-rs
          - light-concurrent-merkle-tree
          - light-hash-set
          - light-hasher
          - light-indexed-merkle-tree
          - light-macros
          - light-merkle-tree-event
          - light-merkle-tree-reference
          - light-registry
          - light-test-utils
          - light-utils
          - light-wasm-hasher
          - account-compression
          - light-system-program
          - light-compressed-token
      version:
        description: Version to release
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
          - release
          - rc
          - beta
          - alpha

jobs:
  make-release-pr:
    permissions:
      id-token: write
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: chainguard-dev/actions/setup-gitsign@main

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Install cargo-release
        shell: bash
        run: |
          VERSION="$(curl --silent "https://api.github.com/repos/crate-ci/cargo-release/releases/latest" | jq -r .tag_name)"
          pushd /tmp
          wget https://github.com/crate-ci/cargo-release/releases/download/"$VERSION"/cargo-release-"$VERSION"-x86_64-unknown-linux-gnu.tar.gz
          tar -xzvf cargo-release-"$VERSION"-x86_64-unknown-linux-gnu.tar.gz --wildcards '*cargo-release' --strip-components=1
          cp cargo-release "$HOME"/.cargo/bin
          popd

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Bump all crate versions
        if: inputs.crate == 'all'
        run: |
          for PACKAGE in $(cargo metadata --format-version=1 --no-deps | jq -r '.packages[] .name'); do
            cargo release --package "$PACKAGE" --execute --no-confirm "${{ inputs.version }}"
            echo "Waiting for 60 seconds to avoid rate limiting..."
            sleep 60  # Wait for 60 seconds before processing the next crate
          done

      - name: Bump crate version
        if: inputs.crate != 'all'
        run: |
          cargo release version --execute --no-confirm \
            -p "${{ inputs.crate }}" "${{ inputs.version }}"

      - name: Create pull request for all crates
        if: inputs.crate == 'all'
        uses: peter-evans/create-pull-request@v6
        env:
          COMMIT_MESSAGE: "chore: Bump version of all Rust projects"
        with:
          commit-message: ${{ env.COMMIT_MESSAGE }}
          title: ${{ env.COMMIT_MESSAGE }}
          branch: "bump-all-rust"
          labels: "version bump"

      - name: Create pull request for crate
        if: inputs.crate != 'all'
        uses: peter-evans/create-pull-request@v6
        env:
          COMMIT_MESSAGE: "chore: Bump version of Rust project ${{ inputs.crate }}"
        with:
          commit-message: ${{ env.COMMIT_MESSAGE }}
          title: ${{ env.COMMIT_MESSAGE }}
          branch: "bump-${{ inputs.crate }}"
          labels: "version bump"
