name: Release programs

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build:
    runs-on: buildjet-16vcpu-ubuntu-2204

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: Extract crate name from tag
        id: extract-crate
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          CRATE_NAME="$(echo $TAG_NAME | rev | cut -d'-' -f2- | rev)"

          if [[ "$CRATE_NAME" == *"light-merkle-tree-program"* ]]; then
            ARTIFACT="light_merkle_tree_program.so"
          elif [[ "$CRATE_NAME" == *"light-psp2in2out"* ]]; then
            ARTIFACT="light_psp2in2out.so"
          elif [[ "$CRATE_NAME" == *"light-psp10in2out"* ]]; then
            ARTIFACT="light_psp10in2out.so"
          elif [[ "$CRATE_NAME" == *"light-psp4in4out-app-storage"* ]]; then
            ARTIFACT="light_psp4in4out_app_storage.so"
          elif [[ "$CRATE_NAME" == *"light-psp2in2out-storage"* ]]; then
            ARTIFACT="light_psp2in2out_storage.so"
          elif [[ "$CRATE_NAME" == *"macro-circom"* ]]; then
            ARTIFACT="macro-circom"
          fi
          echo "crate=$CRATE_NAME" >> $GITHUB_OUTPUT
          echo "artifact=$ARTIFACT" >> $GITHUB_OUTPUT

      - name: Prepare artifacts
        run: |
          if [[ "$CRATE_NAME" == *"light-merkle-tree-program"* ]]; then
            cp target/deploy/light_merkle_tree_program.so .
          elif [[ "$CRATE_NAME" == *"light-psp2in2out"* ]]; then
            cp target/deploy/light_psp2in2out.so .
          elif [[ "$CRATE_NAME" == *"light-psp10in2out"* ]]; then
            cp target/deploy/light_psp10in2out.so .
          elif [[ "$CRATE_NAME" == *"light-psp4in4out-app-storage"* ]]; then
            cp target/deploy/light_psp4in4out_app_storage.so .
          elif [[ "$CRATE_NAME" == *"light-psp2in2out-storage"* ]]; then
            cp target/deploy/light_psp2in2out_storage.so .
          fi

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          token: ${{ secrets.PAT_TOKEN }}
          files: |
            "${{ steps.extract-crate.outputs.artifact }}"

      - name: Run cargo publish
        # Skip macro-circom, it has a git dependency preventing it from publishing.
        if: steps.extract-crate.outputs.crate != 'macro-circom'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        run: |
          cargo publish -p ${{ steps.extract-crate.outputs.crate }} --token $CARGO_REGISTRY_TOKEN
