name: Relase programs

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: Prepare artifacts
        run: |
          cp light-system-programs/target/deploy/merkle_tree_program.so ./merkle_tree_program.so
          cp light-system-programs/target/deploy/verifier_program_zero.so ./verifier_program_zero.so
          cp light-system-programs/target/deploy/verifier_program_storage.so ./verifier_program_storage.so
          cp light-system-programs/target/deploy/verifier_program_one.so ./verifier_program_one.so
          cp light-system-programs/target/deploy/verifier_program_two.so ./verifier_program_two.so
          cp test-env/programs/spl_noop.so ./spl_noop.so


      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          token: ${{ secrets.PAT_TOKEN }}
          files: |
            merkle_tree_program.so
            verifier_program_zero.so
            verifier_program_storage.so
            verifier_program_one.so
            verifier_program_two.so
            spl_noop.so
