name: Release programs

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: Extract crate name from tag
        id: extract-crate
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          CRATE_NAME="$(echo "$TAG_NAME" | rev | cut -d'-' -f2- | rev)"

          if [[ "$CRATE_NAME" == *"account-compression"* ]]; then
            ARTIFACT="account_compression.so"
          elif [[ "$CRATE_NAME" == *"light-compressed-pda"* ]]; then
            ARTIFACT="light_compressed_pda.so"
          elif [[ "$CRATE_NAME" == *"light-compressed-token"* ]]; then
            ARTIFACT="psp_compressed_token.so"
          elif [[ "$CRATE_NAME" == *"light-user-registry"* ]]; then
            ARTIFACT="light_user_registry.so"
          elif [[ "$CRATE_NAME" == *"light-registry"* ]]; then
            ARTIFACT="light_registry.so"
          fi
          echo "crate=$CRATE_NAME" >> "$GITHUB_OUTPUT"
          echo "artifact=$ARTIFACT" >> "$GITHUB_OUTPUT"

      - name: Prepare artifacts
        run: |
          if [[ "$CRATE_NAME" == *"account-compression"* ]]; then
            cp target/deploy/account_compression.so .
          elif [[ "$CRATE_NAME" == *"light-compressed-pda"* ]]; then
            cp target/deploy/light_compressed_pda.so .
          elif [[ "$CRATE_NAME" == *"light-compressed-token"* ]]; then
            cp target/deploy/light_compressed_token.so .
          elif [[ "$CRATE_NAME" == *"light-user-registry"* ]]; then
            cp target/deploy/light_user_registry.so .
          elif [[ "$CRATE_NAME" == *"light-registry"* ]]; then
            cp target/deploy/light_registry.so .
          fi

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          token: ${{ secrets.PAT_TOKEN }}
          files: |
            "${{ steps.extract-crate.outputs.artifact }}"

      - name: Run cargo publish
        # Skip macro-circom, it has a git dependency preventing it from publishing.
        if: steps.extract-crate.outputs.crate != 'macro-circom'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        run: |
          cargo publish -p "${{ steps.extract-crate.outputs.crate }}" --token "$CARGO_REGISTRY_TOKEN"
