name: rust

on:
  push:
    branches: [main]
    paths:
      - "**/*.rs"
      - "**/Cargo.*"
      - ".cargo/**"
      - "prover/client/**"
      - ".github/workflows/rust.yml"
  pull_request:
    branches: ["*"]
    paths:
      - "**/*.rs"
      - "**/Cargo.*"
      - "prover/client/**"
      - ".github/workflows/rust.yml"
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_MIN_STACK: 8388608
  RUSTFLAGS: "-D warnings"

jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: warp-ubuntu-latest-x64-4x

    strategy:
      matrix:
        group:
          - name: concurrent-merkle-tree
            packages: light-concurrent-merkle-tree light-batched-merkle-tree
            test_cmd: |
              cargo test -p light-concurrent-merkle-tree
              RUST_LOG=light_prover_client=debug cargo test -p light-batched-merkle-tree --features test-only -- --test test_simulate_transactions
          - name: program-libs
            packages:
              aligned-sized light-bloom-filter light-hasher light-compressed-account light-account-checks \
              light-verifier light-merkle-tree-metadata light-zero-copy light-hash-set light-indexed-merkle-tree light-batched-merkle-tree
            test_cmd: |
              cargo test -p aligned-sized
              cargo test -p light-bloom-filter
              cargo test -p light-hasher --features solana
              cargo test -p light-compressed-account --features new-unique
              cargo test -p light-account-checks  --features solana
              cargo test -p light-verifier
              cargo test -p light-merkle-tree-metadata
              cargo test -p light-zero-copy --features std
              cargo test -p light-hash-set
              cargo test -p light-indexed-merkle-tree
              cargo test -p light-batched-merkle-tree --features test-only -- --test test_e2e
          - name: sdk-libs
            packages: light-macros light-sdk light-program-test light-client light-batched-merkle-tree
            test_cmd: |
              cargo test -p light-macros
              cargo test -p light-sdk
              cargo test -p light-program-test
              cargo test -p light-client
              cargo test-sbf -p client-test
              cargo test -p light-sparse-merkle-tree
              cargo test -p light-batched-merkle-tree --features test-only -- --skip test_simulate_transactions --skip test_e2e

    name: Test ${{ matrix.group.name }}

    services:
      redis:
        image: redis:8.0.1
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      REDIS_URL: redis://localhost:6379

    steps:
      - uses: actions/checkout@v4

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: Build CLI
        run: |
          source ./scripts/devenv.sh
          npx nx build @lightprotocol/zk-compression-cli

      - name: Run tests for ${{ matrix.group.name }}
        run: |
          source ./scripts/devenv.sh
          ${{ matrix.group.test_cmd }}
