on:
  push:
    branches:
      - main
    paths:
      - "**/*.rs"
      - "**/Cargo.*"
      - "gnark-prover/**"
      - ".github/workflows/rust.yml"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.rs"
      - "**/Cargo.*"
      - "gnark-prover/**"
      - ".github/workflows/rust.yml"

    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

name: rust

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Run install script
        shell: bash
        run: ./scripts/install.sh

      - name: Build workspace
        run: |
          source ./scripts/devenv.sh
          ./scripts/build.sh
          echo "Rust version: $(rustc --version)"

      - name: Test workspace
        run:  |
          source ./scripts/devenv.sh
          RUST_MIN_STACK=8388608 RUSTFLAGS="-D warnings" cargo test --workspace --all-targets
