on:
  push:
    branches:
      - main
    paths:
      - "light-zk.js/**/*.ts"
      - "light-system-programs/**/*.rs"
      - "light-system-programs/**/*.ts"
  pull_request:
    branches:
      - main
    paths:
      - "light-zk.js/**/*.ts"
      - "light-system-programs/**/*.rs"
      - "light-system-programs/**/*.ts"
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

name: test

jobs:
  light-system-programs:
    name: light-system-programs
    # if: github.event.pull_request.draft == false
    runs-on: buildjet-16vcpu-ubuntu-2204
    strategy:
      matrix:
        include:
          - test: system-programs-tests-transaction-user-verifiers-merkle-tree-provider
            sub-tests: '["functional", "user", "verifiers", "merkle-tree", "provider"]'
          - test: system-programs-tests-user-merge
            sub-tests: '["user-merge"]'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: ${{ matrix.test }}
        run: |
          source ./scripts/devenv.sh
          cd light-system-programs
          IFS=', ' read -r -a sub_tests <<< "${{ join(fromJSON(matrix['sub-tests']), ', ') }}"
          for subtest in "${sub_tests[@]}"
          do
            yarn test-$subtest
          done

  light-sdk-tests:
    name: light-sdk-tests
    # if: github.event.pull_request.draft == false
    runs-on: buildjet-16vcpu-ubuntu-2204
    strategy:
      matrix:
        include:
          - name: sdk-tests-light-zk-light-circuits-relayer
            sub-tests: '["light-zk.js", "light-circuits", "relayer"]'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup and build
        uses: ./.github/actions/setup-and-build
        with:
          enable_redis: "true"

      - name: ${{ matrix.test.name }}
        run: |
          source ./scripts/devenv.sh

          IFS=', ' read -r -a sub_tests <<< "${{ join(fromJSON(matrix['sub-tests']), ', ') }}"
          for subtest in "${sub_tests[@]}"
          do
            cd $subtest
            yarn test
            cd ..
          done
