on:
  push:
    branches:
      - main
    paths:
      - "light-zk.js/**/*.ts"
      - "light-system-programs/**/*.rs"
      - "light-system-programs/**/*.ts"
      - "mock-app-verifier/**/*.rs"
      - "mock-app-verifier/**/*.ts"
  pull_request:
    branches:
      - main
    paths:
      - "light-zk.js/**/*.ts"
      - "light-system-programs/**/*.rs"
      - "light-system-programs/**/*.ts"
      - "mock-app-verifier/**/*.rs"
      - "mock-app-verifier/**/*.ts"

name: test

jobs:
  light-system-programs:
    name: light-system-programs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          - functional
          # - user
          # - user-merge
          # - user-merge-sol
          # - user-merge-sol-specific
          # - user-merge-spl
          # - user-merge-spl-specific
          # - verifiers
          # - merkle-tree
          # - provider
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup and build
        uses: ./.github/actions/setup-and-build

      - name: ${{ matrix.test }}
        run: |
          source ./scripts/devenv.sh
          cd light-system-programs
          yarn test-${{ matrix.test }}

  # light-zk-js:
  #   name: light-zk.js
  #   runs-on: buildjet-16vcpu-ubuntu-2204
  #   steps:
  #     - name: Checkout sources
  #       uses: actions/checkout@v2

  #     - name: Setup and build
  #       uses: ./.github/actions/setup-and-build

  #     - name: Test
  #       run: |
  #         source ./scripts/devenv.sh
  #         cd light-system-programs
  #         yarn test

  
  # mock-app-verifier:
  #   name: mock-app-verifier
  #   runs-on: buildjet-16vcpu-ubuntu-2204
  #   steps:
  #     - name: Checkout sources
  #       uses: actions/checkout@v2

  #     - name: Setup and build
  #       uses: ./.github/actions/setup-and-build

  #     - name: Test
  #       run: |
  #         source ./scripts/devenv.sh
  #         cd mock-app-verifier
  #         yarn test

  # light-circuits:
  #   name: light-circuits
  #   runs-on: buildjet-16vcpu-ubuntu-2204
  #   steps:
  #     - name: Checkout sources
  #       uses: actions/checkout@v2

  #     - name: Setup and build
  #       uses: ./.github/actions/setup-and-build

  #     - name: Test
  #       run: |
  #         source ./scripts/devenv.sh
  #         cd light-circuits
  #         yarn run test
