[package]
name = "light-bloom-filter"
version = "0.1.0"
description = "Experimental bloom filter."
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
solana = ["solana-program"]
anchor = ["anchor-lang"]
pinocchio = ["dep:pinocchio"]

[dependencies]
bitvec = "1.0.1"
fastmurmur3 = "0.2.0"
num-bigint = { workspace = true }
solana-program = { workspace = true, optional = true }
anchor-lang = { workspace = true, optional = true }
pinocchio = { workspace = true, optional = true }
thiserror = { workspace = true }

[dev-dependencies]
rand = { workspace = true }
light-hasher = { workspace = true }
num-bigint = { workspace = true, features = ["rand"] }
