[package]
name = "light-bloom-filter"
version = "0.5.0"
description = "Experimental bloom filter."
repository = "https://github.com/Lightprotocol/light-protocol"
license = "Apache-2.0"
edition = "2021"

[features]
solana = ["dep:solana-program-error"]
pinocchio = ["dep:pinocchio"]

[dependencies]
bitvec  = { workspace = true }
solana-nostd-keccak = "0.1.3"
num-bigint = { workspace = true }
solana-program-error = { workspace = true, optional = true }
pinocchio = { workspace = true, optional = true }
thiserror = { workspace = true }

[dev-dependencies]
rand = { workspace = true }
light-hasher = { workspace = true }
num-bigint = { workspace = true, features = ["rand"] }
